<?xml version="1.0" encoding="utf-8" ?>


<configuration>

	<connectionStrings>
		<add name="Assignment3.Properties.Settings.CardConnectionString"
			 connectionString ="Data Source = (LocalDB)\MSSQLLocalDB; AttachDBFilename = |DataDirectory|Card.mdf; Integrated Security = True;"			 
			providerName ="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>

<!--connectionString ="Data Source = (LocalDB)\MSSQLLocalDB; AttachDBFilename = C:\Rapid Development\Assignment3\Assignment3\Card.mdf; Integrated Security = True;"-->
<!--connectionString ="Data Source = (LocalDB)\MSSQLLocalDB; AttachDBFilename = |DataDirectory|Card.mdf; Integrated Security = True;"-->
